<style>p{
  margin:5px;
}</style>
<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b>   </p> 
                <br> Thank you for ordering the food on Caterdaay. We have received your <b>Order # </b> <%= token %> and will confirm the status of your request shortly.
                <br><br>
                <p>Thanks,</p>
                <p><b>Caterdaay.com</b></p>
        </div>
    </div>
</div>
