    
    <style>p{
    margin:5px;
    }</style>
    
    <div>
    <div class="panel panel-default">
            <p>New Menu is setup </p>
    <div class="panel-body">                           
            <p><b>kitchenName : <%= kitchenName %></b></p>
            <p><b>ownerEmailID : <%= ownerEmail %></b></p>
            <p><b>phoneNumber : <%= phoneNumber %></b></p>
            <p><b>address : <%= address %></b></p>
        </div>
    </div>
    </div>